body {
    font-family: Arial, sans-serif;
    background-color: #f3e5f5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.content-container {
    padding: 2rem;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.content-container h1 {
    color: #6a1b9a;
    text-align: center;
    margin-bottom: 2rem;
}

.completed-list {
    margin-bottom: 2rem;
}

.completed-item {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.completed-item h3 {
    color: #6a1b9a;
    margin-bottom: 0.5rem;
}

.completed-item p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 1rem;
}

.completed-item .btn {
    background-color: #6a1b9a;
    color: white;
}

.completed-item .btn:hover {
    background-color: #4a0072;
}

.back-button-container {
    text-align: center;
    margin-top: 2rem;
}

.back-button-container .btn {
    background-color: #6a1b9a;
    color: white;
    border: none;
    width: 100%;
}

.back-button-container .btn:hover {
    background-color: #4a0072;
}
.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: #ffffff !important;
}

.bg-lilac {
    background-color: #dea3e8 !important;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #6f42c1 !important;
}

.logo-container {
    width: 80px; /* Defina o tamanho desejado */
    height: 80px;
    background-color: #ffffff; /* Cor de fundo para o círculo */
    border-radius: 50%; /* Cria o formato circular */
    overflow: hidden; /* Garante que a imagem fique dentro do círculo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para preencher o círculo */
}

.nav-link {
    color: #000000 !important;
    transition: color 0.3s ease; /* Transição suave */
}

.nav-link:hover {
    color: #6f42c1 !important; /* Cor desejada ao passar o mouse */
}

.nav-link.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
}

.nav-link.btn:hover {
    background-color: #dcb7ff; /* Altere a cor de fundo ao passar o mouse */
    color: #ffffff;
}

#completed-list p {
    font-size: 16px;
    color: #6c757d; /* Cinza claro */
    margin-top: 20px;
}
